.home{
    text-align: center;
    
    h1{
        margin-bottom: 30px;
        font-size: 1.7rem;
    }

    img{
        display: block;
        object-fit: cover;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
    }
}