.pessoa{
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
        font-size: 1.4rem;
    }

    p {
        line-height: 0.7;
    }
}